mat-card {
    margin: 40px;
}

.myclass1 {
    font-size: 10px;
    color: aqua;
    background-color: crimson;
    padding: 10px;
}

.myclass2 {
    font-size: 13px;
    color:blueviolet;
    background-color: burlywood;
    padding: 10px;
}

.myclass3 {
    font-size: 16px;
    color: firebrick;
    background-color: skyblue;
    padding: 10px;
}

.myclass4 {
    font-size: 20px;
    color: royalblue;
    background-color: lightcoral;
    padding: 10px;
}